        <template>
    <div>  
        <input class="form-control" id="filtro" type="search" v-model="filter" placeholder="Procurar...">
        <p>Buscando por: <strong>{{ this.filter }}</strong></p>
        <br>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>#</th>
                    <th>Razão Social</th>
                    <th>Nome Fantasia</th>
                    <th>CPF/CNPJ</th>
                    <th>Telefone</th>
                    <th>Nome Contato</th>
                    <th>Telefone Secundário</th>
                    <th>x</th>
                    <th>Email</th>
                    <th>Site</th>
                    <th>Inscriçao Estadual</th>
                    <th>Inscriçao Municipal</th>
                    <th>Inscriçao SUFRAMA</th>
                    <th>Tipo Atividade</th>
                    <th>x</th>
                    <th>Optante Simples</th>
                    <th>Produtor Rural</th>
                    <th>x</th>
                    <th>Rua</th>
                    <th>Número</th>
                    <th>Bairro</th>
                    <th>Complemento</th>
                    <th>Estado</th>
                    <th>Cidade</th>
                    <th>CEP</th>
                </tr>
            </thead>
            <tbody id="tabela">
                <tr v-bind:key="fornecedor.id" v-for="fornecedor in list">
                    <td id="acoes-chip">
                        <a @click="carregaFornecedorForm(fornecedor)"><i class="fas fa-user-edit"></i></a>
                        <a @click="deletaRegistro(fornecedor.id)"><i class="fas fa-trash-alt"></i></a>
                    </td> 
                   
                    <td v-for="prop in fornecedor">
                        {{prop}}
                    </td>
                </tr>
                <tr v-if="list.length === 0">
                    Nenhum registro encontrado pela busca.
                </tr>
             
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: ['itens', 'url', 'token'],
        data: function(){
            return {
                filter: '',
                fornecedores: this.itens,
                estados: ['acre', 'alagoas', 'amapa', 'bahia', 'ceara', 'distritofederal', 'espiritosanto', 'goias', 'maranhao', 
                                'matogrosso', 'matogrossodosul', 'minasgerais', 'para', 'paraiba', 'parana', 'pernambuco', 'piaui', 'riodejaneiro',
                                'riograndedonorte', 'riograndedosul', 'rondonia', 'roraima', 'santacatarina', 'saopaulo', 'sergipe', 'tocantins'],
            }
        },
        methods: {
            filtraTabela: function(){
                console.log('Falta Implementar');
            },
            carregaFornecedorForm: function(equipamento){
                this.$store.commit('setFornecedor', equipamento);
            },
            deletaRegistro: function(data){
                let result = confirm('Deseja realmente excluir o fornecedor ('+data+')?');
                if(result){
                    axios.delete(this.url + '/' + data).then(res => {
                        this.$store.commit("setFornecedores", res.data);
                        this.$store.commit("setFornecedor", {});
                    });
                }
                /**/
            }
            
        },
        computed: {
            list: function(){

                /* Ordenação de forma crescente, pode ordenar a partir da coluna, para decrescente inverter valores
                this.itens.sort(function(a,b){
                    if(a[0] > b[0]) return 1;
                    if(a[0] < b[0]) return -1;
                    return 0;
                });
                */

                this.fornecedores = this.$store.state.fornecedores;

               
                if(Object.keys(this.$store.state.fornecedores).length === 0) {
                    this.$store.commit('setFornecedores', this.itens);
                    this.fornecedores = this.$store.state.fornecedores;
                }
                /*
                if(this.filter){
                    return this.fornecedores.filter(res => {
                        res = Object.values(res);
                        for(let k=0; k<res.length; k++){
                            if((res[k] + "").toLowerCase().indexOf(this.filter.toLowerCase()) >= 0){
                                return true;
                            }
                        }
                        return false;
                    });
                }

                */
                
  
                return this.fornecedores;
                
            }
        }
    }
</script>

<style scoped>

</style>