<template>
    <div class="principal">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="emp_razao_social">Razão Social</label>
                    <input type="text" class="form-control" id="emp_razao_social" name="emp_razao_social" v-bind:value="dados.emp_razao_social" placeholder="Razão Social">
                </div>
                <div class="form-group col-md-4">
                    <label for="emp_cnpj">CNPJ</label>
                    <input type="text" v-mask="'##.###.###/####-##'" class="form-control" id="emp_cnpj"  name="emp_cnpj" placeholder="00.000.000/0000-00">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="emp_nome_fantasia">Nome Fantasia</label>
                    <input type="text" class="form-control" id="emp_nome_fantasia"  name="emp_nome_fantasia" placeholder="Nome Fantasia">
                </div>
                <div class="form-group col-md-1">
                    <label for="emp_tel_ddd">DDD</label>
                    <input type="text" class="form-control" id="emp_tel_ddd" name="emp_tel_ddd" placeholder="XXX">
                </div>
                <div class="form-group col-md-4">
                    <label for="emp_tel">Telefone</label>
                    <input type="text" v-mask="'####-####'" class="form-control" id="emp_tel" name="emp_tel" placeholder="XXXX-XXXX">
                </div>
                 <div class="form-group col-md-3">
                    <label for="emp_contato">Nome do Contato</label>
                    <input type="text" class="form-control" id="emp_contato" name="emp_contato" placeholder="Nome do Contato">
                </div>

            </div>
    </div>
</template>

<script>
    export default {
        props: ['dados']
    }
</script>

<style scoped>
    .principal{
        margin-bottom: 10px;
    }
</style>