<template>
    <div class="principal">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="emp_tel_sec_ddd">DDD Telefone 2</label>
                <input type="text" class="form-control" id="emp_tel_sec_ddd"  name="emp_tel_sec_ddd" placeholder="XXX">
            </div>
            <div class="form-group col-md-4">
                <label for="emp_tel_sec">Número Telefone 2</label>
                <input type="text" v-mask="'####-####'" class="form-control" id="emp_tel_sec" name="emp_tel_sec" placeholder="XXXX-XXXX">
            </div>
            <div class="form-group col-md-2">
                <label for="emp_fax_ddd">DDD Fax</label>
                <input type="text" class="form-control" id="emp_fax_ddd" name="emp_fax_ddd" placeholder="XXX">
            </div>
            <div class="form-group col-md-4">
                <label for="emp_fax">Número Fax</label>
                <input type="text" v-mask="'####-####'" class="form-control" id="emp_fax"  name="emp_fax" placeholder="XXXX-XXXX">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="emp_email">Email</label>
                <input type="email" class="form-control" id="emp_email" name="emp_email" placeholder="empresa@admim.com">
            </div>
            <div class="form-group col-md-4">
                <label for="emp_website">Website</label>
                <input type="text" class="form-control" id="emp_website" name="emp_website"  placeholder="www.empresa.com.br">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
.principal{
    margin-top: 10px;
}
</style>