
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body{
  font-size: 14px;
  overflow-y: scroll;
}