<template>
    <div class="card">
        <div class="container">
            <form id="form_usuario" v-bind:action="url" v-bind:token="token" method="post">
                <input type="hidden" name="id" id="id" v-model="$store.state.produto.id" value="">
                <input v-if="alterMethod" type="hidden" name="_method" v-bind:value="alterMethod">
                <input v-if="token" type="hidden" name="_token" v-bind:value="token">
                <div class="form-row pt-2">
                    <div class="form-group col-md-5">
                        <label for="user_name">Nome</label>
                        <input type="text" class="form-control" name="user_name" id="user_name" v-model="$store.state.obj.name" required>
                        
                    </div>
                    <div class="form-group col-md-7">
                        <label for="user_email">Email</label>
                        <input type="text" class="form-control" name="user_email" id="user_email" v-model="$store.state.obj.email" required>
                    </div>
                </div>
                <div class="form-row">
                    <div v-if="!$store.state.obj.id" class="form-group col-md-auto">
                        <button  form="form_usuario" type="submit" class="btn btn-success">Novo</button>
                    </div>
                    <div class="form-group col-md-auto">
                        <button v-if="$store.state.obj.id" @click="atualizaRegistro($store.state.obj)" type="button" class="btn btn-primary">Atualizar</button>
                    </div>
                    <div class="form-group col-md-auto">
                        <button v-if="$store.state.obj.id" @click="limpaFormulario()" type="button" class="btn btn-danger">Cancelar</button>
                    </div>
                    
                </div>
                
            
            </form>
        </div>
    </div>
    
</template>

<script>
    export default {
        props: ['url','urlNovo','token', 'action', 'method', 'roles', 'rolesUsuario', 'urlRoles'],
        data: function(){
            return {
                alterMethod: "",
                rolesDoUsuario: {},
             
            }
        },
        methods: {
            atualizaRegistro: function(data){
                axios.put(this.url + '/' + data.id, data).then(res => {
                    this.$store.commit("setObjs", res.data);
                    this.$store.commit("setObj", {});
                    this.$store.commit("setRoles", {});
                });
                
            },
            limpaFormulario: function(){
                this.$store.commit('setObj', {});
                this.$store.commit('setRoles', {});

            },
        },
         computed: {
            defineMethod: function(){
                if(this.method.toLowerCase() == "post" || this.method.toLowerCase() == "get"){
                   return this.method.toLowerCase();
                }
                if(this.method.toLowerCase() == "put"){
                    this.alterMethod = "put";
                }
                if(this.method.toLowerCase() == "delete"){
                    this.alterMethod = "delete";
                }

                return "post";
            }
        }
    }
</script>

<style scoped>
   
</style>