<template>
    <div class="card pt-2">
        <div class="container">
            <form id="form_usuario" v-bind:token="token" method="post">
                <input v-if="alterMethod" type="hidden" name="_method" value="PUT">
                <input v-if="token" type="hidden" name="_token" v-bind:value="token">
                <div v-if="$store.state.obj.id" class="form-row">
                    <div class="form-group col-md-auto">
                        Funções Disponíveis:
                    </div>
                </div>
                <div v-if="$store.state.obj.id" class="form-row">
                    <div v-bind:key="role.id" v-for="role in roles" class="form-group col-md-auto tag-role mr-3">
                         {{role.name}}<span @click="adicionaRole(role)" id='fechar' class='adiciona'>+</span>
                    </div>
                   
                </div>
                <div  v-if="$store.state.obj.id" class="form-row ">
                    <div class="form-group col-md-auto">
                        Funções atribuidas ao usuário:
                    </div>
                </div>
                <div v-if="$store.state.obj.id" class="form-row">
                    <div v-bind:key="role.id" v-for="role in $store.state.roles" class="form-group col-md-auto tag-role mr-3">
                         {{role}}<span @click="retiraRole(role)" id='fechar' class='fecha'>x</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</template>

<script>
    export default {
        props: ['urlUser','token', 'method', 'roles', 'rolesUsuario', 'urlRoles'],
        data: function(){
            return {
                alterMethod: "",
            }
        },
        methods: {
            retiraRole: function(role){

                // Confirmacao se o usuario deseja executar a acao
                let confirma = confirm('Deseja realmente retirar a funcao do usuário?');

                // Caso false nao executa a funcao
                if(!confirma) return;

                // Roles do usuario selecionado que estao armazenadas na loja do Vuex
                let roles = this.$store.state.roles;

                // Itera sobre as roles para retirar a role desejada
                var filtrado = roles.filter(function(value, index, arr){
                    return value !== role;
                });

                // Cria o array de dados a ser passado na requisicao PUT
                let data = {
                    "usuario" : this.$store.state.obj,
                    "roles" : filtrado
                };

                 // Executa a ação de update de usuario
                axios.put(this.urlUser + '/' + this.$store.state.obj.id, data);

                // Retorna a loja atualizada
                this.$store.commit("setRoles", filtrado);
            },
            adicionaRole: function(role){

                // Roles do usuario selecionado que estao armazenadas na loja do Vuex
                let roles = this.$store.state.roles;

                // Variavel de Controle  
                let exists = false;

                // Verifica se o usuario ja contem a role
                roles.forEach(function(item){
                    if(item === role.name) exists = true;
                });

                // Se nao conter adiciona ao array de roles
                if(!exists) roles.push(role.name);
                
                // Cria o array de dados a ser passado na requisicao PUT
                let data = {
                    "usuario" : this.$store.state.obj,
                    "roles" : roles
                };

                // Executa a ação de update de usuario
                axios.put(this.urlUser + '/' + this.$store.state.obj.id, data);

                // Seta na loja as roles do usuario que esta sendo editado  
                this.$store.commit("setRoles", roles);
                
                
            }
        },
         computed: {
            defineMethod: function(){
                if(this.method.toLowerCase() == "post" || this.method.toLowerCase() == "get"){
                   return this.method.toLowerCase();
                }
                if(this.method.toLowerCase() == "put"){
                    this.alterMethod = "put";
                }
                if(this.method.toLowerCase() == "delete"){
                    this.alterMethod = "delete";
                }

                return "post";
            }
        }
    }
</script>

<style scoped>
    .tag-role{
        border: solid 0.5px;
        border-radius: 5px;
        padding: 4px;
        background-color: rgb(98, 218, 182);
        color: white;
        text-align: center;
    }
    #fechar {
        height: 25px;
        width: 25px;
        position:absolute;
        top: -15px;
        left: 90%;
        display:inline-block;
        border: solid 2px;
        color: white;
        border-radius: 50%;
        
    }
    .adiciona{
        background:green;
    }
    .fecha{
        background:red;
    }
</style>