    <template>
    <div>  
        <input class="form-control" id="filtro" type="search" v-model="filter" placeholder="Procurar...">
        <p>Buscando por: <strong>{{ this.filter }}</strong></p>
        <br>
        
        <table class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>Ações</th>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Data de Criação</th>
                    <th>Data de Atualizacao</th>
                   
                </tr>
            </thead>
            <tbody id="tabela">
                <tr  v-bind:key="user.id" v-for="user in list">
                    <td id="acoes-usuario">
                        <a @click="carregaUsuarioForm(user)"><i class="fas fa-user-edit"></i></a>
                        <a @click="deletaRegistro(user.id)"><i class="fas fa-trash-alt"></i></a>
                    </td>
                    <td v-bind:key="prop.id" v-for="prop in user">{{prop}}</td>
                </tr>
                <tr v-if="list.length === 0">
                    Nenhum registro encontrado pela busca.
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: ['itens', 'url', 'token', 'urlRoles', 'idUsuario'],
        data: function(){
            return {
                filter: '',
                usuariosLoja: this.itens
            }
        },
        methods: {
            filtraTabela: function(){
                console.log('Falta Implementar');
            },
            carregaUsuarioForm: function(user){
                if(user.id == this.idUsuario){
                    alert('Você não pode alterar informações do seu usuário!');
                    return;
                }
                this.$store.commit('setObj', user);
                axios.get(this.urlRoles + '/' + user.id).then(res => {
                    this.$store.commit('setRoles', res.data);
                });
            },
            deletaRegistro: function(data){
                if(data == this.idUsuario){
                    alert('Você não pode excluir o seu usuário!');
                    return;
                }
                let result = confirm('Deseja realmente excluir o usuario ('+data+')?');
                if(result){
                    axios.delete(this.url + '/' + data.id, data).then(res => {
                        this.$store.commit("setObjs", res.data);
                        this.$store.commit("setObj", {});
                    });
                }
                /**/
            },
            
        },
        computed: {
            list: function(){

                /* Ordenação de forma crescente, pode ordenar a partir da coluna, para decrescente inverter valores
                this.itens.sort(function(a,b){
                    if(a[0] > b[0]) return 1;
                    if(a[0] < b[0]) return -1;
                    return 0;
                });
                */


                this.usuariosLoja = this.$store.state.objs;

               
                if(Object.keys(this.$store.state.objs).length === 0) {
                    this.$store.commit('setObjs', this.itens);
                    this.usuariosLoja = this.$store.state.objs;
                }
                
                if(this.filter){
                    return this.usuariosLoja.filter(res => {
                        res = Object.values(res);
                        for(let k=0; k<res.length; k++){
                            if((res[k] + "").toLowerCase().indexOf(this.filter.toLowerCase()) >= 0){
                                return true;
                            }
                        }
                        return false;
                    });
                }

                
                
  
                return this.usuariosLoja;
                
            }
        }
    }
</script>

<style scoped>

</style>