<template>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" v-on:click="sB" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ nome }}
        </a>
        <div id="item-menu" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div id="conteudo-item" v-for="item in itens" class="dropdown-item">
                    <strong>{{item.titulo}}</strong>
                    <ul class="lista-opcoes">
                        <li v-for="acao in item.acoes"><i :class="acao.icone"></i>{{ acao.texto }} </li>
                    </ul>
            </div>
            <slot name="adicional"></slot>
        </div>
    </li> 
</template>

<script>
    export default {
        props: ['nome', 'itens'],
        data: function () {
            return {
                contadorElementos: 0,
                menuAberto: false
            }
        },
        methods:{
            sB: function(){
                this.$parent.$options.methods.showDiv(this.id);
                if(this.menuAberto) document.getElementById('item-menu').setAttribute('style', 'display: none');
                if(!this.menuAberto) {
                    //document.getElementById('conteudo-item').setAttribute('style', "min-height: 100px; overflow: auto;");
                    document.getElementById('item-menu').setAttribute('style', "display: inline-flex;");
                    
                }
                this.menuAberto = !this.menuAberto;
            }
        }

        
    }
</script>

<style scoped>
    .lista-opcoes{
        list-style: none;
        padding-left: 10px;
    }
    .lista-opcoes i{
        width: 13px;
        margin-right: 5px;
    }
    .coluna {
        width: 200px;
    }
    .secao-flex{
        max-width: 90%;
    }
    .item{
        border: solid 2px;
    }
</style>