<template>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i id="icone" v-bind:class="defineIcone"></i>{{ categoria }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="">Dados da Empresa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Gerenciar Dados da Empresa</a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- /.col-md-4  -->
                    <div class="col-md-4">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Link item</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Link item</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-md-4  -->
                    <div class="col-md-4">
                        <a href="">
                        <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                        </a>
                        <p class="text-white">Short image call to action</p>
                    </div>
                <!-- /.col-md-4  -->
                </div>
            </div>
            <!--  /.container  -->
        </div>
    </li>
</template>

<script>
    export default {
        props: ['categoria', 'icone'],
        computed: {
            defineIcone: function(){
                return this.icone;
            }
        }
    }
</script>

<style scoped>

.dropdown-menu div[class*="col"] {
    margin-bottom: 2rem;
}

.navbar .dropdown-menu {
    border:none;
    background-color:#0060c8!important;
}

    /* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
    
    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
        padding-top:0px;
        padding-bottom:0px;
        margin-bottom: 40px;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
        padding:.5rem .5rem;
        margin:0 .25rem;
    }

    /* makes the dropdown full width  */
    .navbar .dropdown {position:static;}

    .navbar .dropdown-menu {
        width:100%;
        left:0;
        right:0;
        /*  height of nav-item  */
        top:45px;
    }
    
    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
        display:block!important;
    }
        
    .navbar .dropdown-menu {
        border: 1px solid rgba(0,0,0,.15);
        background-color: #fff;
    }
}

#icone{
    margin-right: 10px;
}
</style>