<template>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i id="icone" v-bind:class="defineIcone"></i>{{ categoria }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-menu">
                            <strong>Produtos</strong>
                            <li><a :href="defineUrl('produto')"><i class="fas fa-boxes"></i> Gerenciar Produtos</a> </li>
                            <strong>Movimentação</strong>
                            <li><a :href="defineUrl('movimento')"><i class="fas fa-boxes"></i> Gerenciar Movimentos</a> </li>
                            <strong>Fornecedores</strong>
                            <li><a :href="defineUrl('fornecedor')"><i class="fas fa-boxes"></i> Gerenciar Fornecedores</a> </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-menu">
                            
                        </ul>
                    </div>
                   
                    
                </div>
            </div>
            <!--  /.container  -->
        </div>
    </li>
</template>

<script>
    export default {
        props: ['categoria', 'icone', 'url'],
        methods: {
            defineUrl: function(item){
                return this.url + '/' + item;
            }
        },
        computed: {
            defineIcone: function(){
                return this.icone;
            },
            
        }
    }
</script>

<style scoped>

.list-menu{
    color: white;
    list-style: none;
}

.list-menu a{
    text-decoration: none;
    color: black;
}


.dropdown-menu div[class*="col"] {
    margin-bottom: 2rem;
}

.navbar .dropdown-menu {
    border:none;
    background-color:#0060c8!important;
}

    /* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
    
    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
        padding-top:0px;
        padding-bottom:0px;
        margin-bottom: 40px;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
        padding:.5rem .5rem;
        margin:0 .25rem;
    }

    /* makes the dropdown full width  */
    .navbar .dropdown {position:static;}

    .navbar .dropdown-menu {
        width:100%;
        left:0;
        right:0;
        /*  height of nav-item  */
        top:45px;
    }
    
    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
        display:block!important;
    }
        
    .navbar .dropdown-menu {
        border: 1px solid rgba(0,0,0,.15);
        background-color: #fff;
    }
}

#icone{
    margin-right: 10px;
}
</style>