<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">{{ empresa }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="lista-opcoes" class="navbar-nav mx-auto">
                <slot></slot>
                <li id="item-logout" class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" 
                        @click="sair">
                        <i class="fas fa-user-circle"></i> Logout
                    </a>

                    <form id="logout-form" :action="url" method="POST" style="display: none;" :token="token_logout">
                        <slot name="csrf"></slot>
                    </form>
                </li>
    
            </ul>
        </div>


    </nav>
</template>

<script>
    export default {

        props: ['empresa', 'url', 'token_logout', 'roles', 'csrf',],
        methods:{
            mostraOpcao: function(){
                $("#first-menu").addClass("show");
            },
            escondeOpcao: function(){
                $("#first-menu").removeClass("show");
            },
            sair: function(){
                console.log('Tensou sair');
                $("#logout-form").submit();
            },
            temFuncao: function(funcao){
                return this.roles.includes(funcao);
            }
        }
    }
        
</script>
<style scoped>

.navbar{
    margin-bottom: 10px;
}
/* adds some margin below the link sets  */
.dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
   margin-right:1rem;
}
.navbar-nav li{
    margin-right: 1rem;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#0060c8!important;
}

#lista-opcoes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#item-logout{
    margin-left: auto !important;
    margin-right: 0;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  
  /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom: 20px;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
        padding:.5rem .5rem;
        margin:0 .25rem;
    }

    /* makes the dropdown full width  */
    .navbar .dropdown {position:static;}

    .navbar .dropdown-menu {
        width:100%;
        left:0;
        right:0;
        /*  height of nav-item  */
        top:45px;
    }
    
    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
        display:block!important;
    }
    
    .navbar .dropdown-menu {
        border: 1px solid rgba(0,0,0,.15);
        background-color: #fff;
    }
    #item-logout{
        margin-left: auto !important;
        margin-right: 0;
    }
    #lista-opcoes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}




</style>

