<template>
    <div class="topo-item">
        <a class="item-ativo" @mouseover="mostraDivFilho">{{ nome }}</a>
        <div v-bind:id="id" class="opcao-menu">
            <div v-for="item in itens" class="item-menu">
                <ul class="lista-opcoes">
                    <strong>{{item.titulo}}</strong>
                    <li v-for="acao in item.acoes"><a href=""><i :class="acao.icone"></i>{{ acao.texto }}</a></li>
                </ul>
            </div>
            <a class="fechar-menu" v-on:click="closeDiv(id)"><i class="fa fa-close"></i></a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['nome', 'itens', 'id'],
        data: function () {
            return {
                contadorElementos: 0,
                menuAberto: false
            }
        },
        methods:{
            mostraDivFilho(){
                this.$parent.$options.methods.showDiv(this.id);
            },
            closeDiv(){
                document.getElementById(this.id).setAttribute('style', 'display: none;');
            }

        }

        
    }
</script>

<style scoped>
    .topo-item{
        padding: 10px;
        margin-right: 10px;
        
    }

    .topo-item a {
        text-decoration: none;
        color: black;
    }
    
    .opcao-menu{
        position: fixed;
        top: 95px;
        left: 0px;
        width: 100%;
        height: 100%;
        display:none;
        z-index: 9999;
        background-color: darkgrey;
        padding-top: 20px;
    }

    .opcao-menu ul{
        list-style: none;
    }

    .fechar-menu {
        position: absolute;
        top: 5px;
        left: 95%;
    }

    .item-menu{
        text-align: left;
        display: flex;
        justify-content: center;
    }
</style>