<template>
    
        <nav class="navbar navbar-expand-md navbar-light itens-topo" style="background-color: #e3f2fd;">
            <div class="">
                <a class="navbar-brand" v-bind:href="url"> {{ empresa }}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="nav navbar-nav">
                        <ul class="nav navbar-right">
                            <div id="div-opcoes">
                                <slot></slot>
                            </div>
                        </ul>        
                    </div>
                </div>
            </div>
        </nav>
</template>

<script>
    export default {
        props: ['url', 'empresa'],
        methods: {
            showDiv(divId){
                var nodes = document.getElementById('div-opcoes').childNodes; // Pega os filhos do elemento pai
                for(var i=0; i<nodes.length; i++) { // Percorre todos os filhos
                    var nodesFi = nodes[i].childNodes; // Filho em cada laço
                        for(var j=0; j< nodesFi.length; j++) { // Analisa os filhos do filhos para identificar a div de opcoes
                            var currentNode = nodesFi[j];
                            if (currentNode.nodeName.toLowerCase() == 'div') {
                                if(currentNode.id == divId) currentNode.style.display = 'flex'; // Seta com visivel a div com mouse
                                if(currentNode.id != divId) currentNode.style.display = 'none'; // Fecha todas as outras divs
                            }
                    }
                }
            }
        }
    }
</script>

<style scoped>
.navbar {
    margin:0 auto;
    margin-bottom: 10px;
    text-align:center;
}

.itens-topo{
    display: flex !important;
    justify-content: space-around;
}
#div-opcoes{
    display: flex;
    justify-content: space-around;
}
</style>