<template>
    <div>
        
       <form  id="form_chip" v-bind:action="url" v-bind:token="token" method="post">
            
            <input type="hidden" name="id" id="id" v-model="$store.state.chip.id" value="">
            <input v-if="alterMethod" type="hidden" name="_method" v-bind:value="alterMethod">
            <input v-if="token" type="hidden" name="_token" v-bind:value="token">
            <div class="form-row pt-2">
                <div class="form-group col-md-6">
                    <label for="chip_status">Situação</label>
                    <select class="form-control" name="chip_status" id="chip_status" v-model="$store.state.chip.chip_status" required>
                        <option value="" disabled>Selecione um status</option>
                        <option value="a">Ativo</option>
                        <option value="i">Inativo</option>
                        <option value="b">Bloqueado</option>
                        <option value="c">Cancelado</option>
                    </select>
                    
                </div>
                <div class="form-group col-md-6">
                    <label for="chip_op">Operadora</label>
                    <select class="form-control" name="chip_op" id="chip_op" v-model="$store.state.chip.chip_op" required>
                        <option value="" disabled>Selecione uma operadora</option>
                        <option value="vivo">Vivo</option>
                        <option value="vodafone">Vodafone</option>
                        <option value="tim">Tim</option>
                        <option value="claro">Claro</option>
                        <option value="oi">Oi</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="chip_iccid">ICCID</label>
                    <input class="form-control" type="text" name="chip_iccid" id="chip_iccid" v-model="$store.state.chip.chip_iccid" required>
                </div>
                <div class="col-md-4">
                    <label for="busca_leitor">Buscar via leitor</label>
                    <a href="" class="form-control"><i class="fas fa-search"></i></a>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="chip_num">Número</label>
                    <input class="form-control" type="text" name="chip_num" id="chip_num" v-model="$store.state.chip.chip_num" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="chip_data_ativ">Data de Ativação</label>
                    <input class="form-control" type="date" name="chip_data_ativ" id="chip_data_ativ" v-model="$store.state.chip.chip_data_ativ" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="chip_mb">MB</label>
                    <input class="form-control" type="number" name="chip_mb" id="chip_mb" min="0" v-model="$store.state.chip.chip_mb" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="chip_mens">Valor Mensal (R$)</label>
                    <input class="form-control" type="number" name="chip_mens" id="chip_mens" v-model="$store.state.chip.chip_mens" required>
                </div>
                <div class="form-group col-md-5">
                    <label for="chip_dia_venc">Vencimento</label>
                    <input class="form-control" type="number" name="chip_dia_venc" id="chip_dia_venc" v-model="$store.state.chip.chip_dia_venc" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="chip_for">Fornecedor</label>
                    <input type="text" class="form-control" name="chip_for" id="chip_for" v-model="$store.state.chip.chip_for" required>
                </div>
            </div>
            <div class="form-row">
                <div v-if="!$store.state.chip.id" class="form-group col-md-auto">
                    <button  form="form_chip" type="submit" class="btn btn-success">Novo</button>
                </div>
                 <div v-if="!$store.state.chip.id" class="form-group col-md-auto">
                    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Cadastro em Lote
                    </button>
                </div>
                <div  class="form-group col-md-auto">
                    <button  v-if="$store.state.chip.id" @click="atualizaRegistro($store.state.chip)" type="button" class="btn btn-primary">Atualizar</button>
                </div>
                <div  class="form-group col-md-auto">
                    <button  v-if="$store.state.chip.id" @click="limpaFormulario()" type="button" class="btn btn-danger">Cancelar</button>
                </div>
               
                
            </div>
            
            
        </form>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastro em Lote de Chip</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form v-bind:action="url" v-bind:token="token" method="post">
                        <input type="hidden" name="id" id="id" v-model="$store.state.chip.id" value="">
                        <input v-if="alterMethod" type="hidden" name="_method" v-bind:value="alterMethod">
                        <input v-if="token" type="hidden" name="_token" v-bind:value="token">
                        <div class="form-row pt-2">
                            <div class="form-group col-md-6">
                                <label for="chip_op">Operadora</label>
                                <select class="form-control" name="chip_op_lote" id="chip_op_lote" v-model="$store.state.lote_info.chip_op" required>
                                    <option value="" disabled>Selecione uma operadora</option>
                                    <option value="vivo">Vivo</option>
                                    <option value="vodafone">Vodafone</option>
                                    <option value="tim">Tim</option>
                                    <option value="claro">Claro</option>
                                    <option value="oi">Oi</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="chip_status_lote">Situação</label>
                                <select class="form-control" name="chip_status_lote" id="chip_status_lote" v-model="$store.state.lote_info.chip_status" required>
                                    <option value="" disabled>Selecione um status</option>
                                    <option value="a">Ativo</option>
                                    <option value="i">Inativo</option>
                                    <option value="b">Bloqueado</option>
                                    <option value="c">Cancelado</option>
                                </select>
                                
                            </div>
                            
                        </div>
                        
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="chip_mb_lote">MB</label>
                                <input class="form-control" type="number" name="chip_mb_lote" id="chip_mb_lote" min="0" v-model="$store.state.lote_info.chip_mb" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="chip_mens_lote">Valor Mensal (R$)</label>
                                <input class="form-control" type="number" name="chip_mens_lote" id="chip_mens_lote" v-model="$store.state.lote_info.chip_mens" required>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="chip_dia_venc_lote">Vencimento</label>
                                <input class="form-control" type="number" name="chip_dia_venc_lote" id="chip_dia_venc_lote" v-model="$store.state.lote_info.chip_dia_venc" required>
                            </div>
                        </div>
                        <div class="form-row table-wrapper-scroll-y">
                            <table class="table table-striped ">
                                <thead>
                                    <tr>
                                    <th scope="col">Operadora</th>
                                    <th scope="col">Situação</th>
                                    <th scope="col">ICCID</th>
                                    <th scope="col">MB</th>
                                    <th scope="col">Mensalidade (R$)</th>
                                    <th scope="col">Dia Vencimento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="$store.state.lote_info.chip_op || $store.state.lote_info.chip_status">
                                        <td>{{$store.state.lote_info.chip_op}}</td>
                                        <td>{{$store.state.lote_info.chip_status}}</td>
                                        
                                        <td id="iccid" @keydown.enter="incluiChip($event)" contenteditable="true"></td>
                                        <td>{{$store.state.lote_info.chip_mb}}</td>
                                        <td>{{$store.state.lote_info.chip_mens}}</td>
                                        <td>{{$store.state.lote_info.chip_dia_venc}}</td>
                                    </tr>
                                    <tr :key="chip.id" v-for="chip in list">
                                        <td v-bind:key="prop.id" v-for="prop in chip">{{prop}}</td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button @click="cadastroLote()" type="button" class="btn btn-primary">Cadastrar Chips</button>
                </div>
                </div>
            </div>
        </div>
        
    </div>
</template>

<script>
    export default {
        props: ['url','urlNovo','token', 'action', 'method'],
        data: function(){
            return {
                alterMethod: "",
                chipsLote: [],
             
            }
        },
        methods: {
            atualizaRegistro: function(data){
                axios.put(this.url + '/' + data.id, data).then(res => {
                    this.$store.commit("setProdutos", res.data);
                    this.$store.commit("setChip", {});
                });
                
            },
            limpaFormulario: function(){
                this.$store.commit('setChip', {});
            },
            incluiChip: function(evento){

                // Cria o objeto do chip lido pelo scanner
                let chip = {
                    "chip_op": this.$store.state.lote_info.chip_op,
                    "chip_status": this.$store.state.lote_info.chip_status,
                    "chip_iccid":evento.target.innerText,
                    "chip_mb": this.$store.state.lote_info.chip_mb,
                    "chip_mens": this.$store.state.lote_info.chip_mens,
                    "chip_dia_venc": this.$store.state.lote_info.chip_dia_venc,
                    "chip_num": "0",
                    "chip_for": "0",
                    "chip_data_ativ": "27-02-2019"
                };

                // Adiciona o chip ao array de chips
                this.$store.commit('setChipsLote', chip);

                // Reseta o valor do td editable onde o ICCID foi inserido
                evento.target.innerHTML = "";
               
              
            },
            cadastroLote: function(){

                // Chamada para cadastro dos chips em lote
                 axios.post(this.url, this.$store.state.lote_chips).then(res => {
                    console.log(res.data);
                });
            }
           
        },
         computed: {
            defineMethod: function(){
                if(this.method.toLowerCase() == "post" || this.method.toLowerCase() == "get"){
                   return this.method.toLowerCase();
                }
                if(this.method.toLowerCase() == "put"){
                    this.alterMethod = "put";
                }
                if(this.method.toLowerCase() == "delete"){
                    this.alterMethod = "delete";
                }

                return "post";
            },
            list: function(){
                this.chipsLote = this.$store.state.lote_chips;
                return this.chipsLote;
            }
        }
        
    }
</script>

<style scoped>
.table-wrapper-scroll-y {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
</style>