<template>
    <div>
        
       <form  id="form_chip" v-bind:action="url" v-bind:token="token" method="post">
            
            <input type="hidden" name="id" id="id" v-model="$store.state.chip.id" value="">
            <input v-if="alterMethod" type="hidden" name="_method" v-bind:value="alterMethod">
            <input v-if="token" type="hidden" name="_token" v-bind:value="token">
            <div class="form-row pt-2">
                <div class="form-group col-md-6">
                    <div class="form-row">
                        <div class="col-md-auto">
                            <span id="chip-message"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-auto">
                           <label for="chip_iccid">Buscar Chip</label>
                           <input @keydown.enter="buscaChip($event)" class="form-control" type="text" name="chip_iccid" id="chip_iccid" v-model="$store.state.chip.chip_iccid">
                    
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <p><strong>Operadora: </strong>{{$store.state.chip.chip_op}}</p>
                    <p><strong>Pacote: </strong>{{$store.state.chip.chip_mb}} MB</p>
                    <p><strong>Vencimento: </strong>{{$store.state.chip.chip_dia_venc}}</p>
                    <p><strong>Mensalidade: </strong>R$ {{$store.state.chip.chip_mens}},00</p>
                </div>
                
            </div>
            <div class="form-row">
                 <div class="form-group col-md-6">
                    <div class="form-row">
                        <div class="col-md-auto">
                            <span id="equip-message"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-auto">
                           <label for="equip_num">Buscar Equipamento</label>
                           <input @keydown.enter="buscaEquipamento($event)" class="form-control" type="text" name="equip_num" id="equip_num" v-model="$store.state.equip.equip_imei">
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <p><strong>Nº Serie: </strong>{{$store.state.equip.equip_num}}</p>
                    <p><strong>Modelo: </strong>{{$store.state.equip.equip_mod}} MB</p>
                    <p><strong>Valor: </strong>R$ {{$store.state.equip.equip_valor}},00</p>
                </div>
            </div>
            <div class="form-row">
                <div  class="form-group col-md-auto">
                    <button  v-if="$store.state.chip.id" @click="cadastrarKit()" type="button" class="btn btn-success">Cadastrar KIT</button>
                </div>
                <div  class="form-group col-md-auto">
                    <button  v-if="$store.state.chip.id" @click="limpaFormulario()" type="button" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
            
        </form>

        
        
    </div>
</template>

<script>
    export default {
        props: ['url','urlNovo', 'urlChip', 'urlCadastro','token', 'action', 'method', 'chips', 'equips'],
        data: function(){
            return {
                alterMethod: "",
                chipsLote: [],
             
            }
        },
        methods: {
            atualizaRegistro: function(data){
                axios.put(this.url + '/' + data.id, data).then(res => {
                    this.$store.commit("setProdutos", res.data);
                    this.$store.commit("setChip", {});
                });
                
            },
            limpaFormulario: function(){
                this.$store.commit('setChip', {});
                this.$store.commit('setEquip', {});  
            },
            buscaChip: function(evento){
                evento.preventDefault();
                $('#chip-message').text('Buscando chip na base...');
                
                // Busca no banco de dados se o chip com iccid passado existe
                axios.get(this.url + 'chip/' +evento.target.value).then(res => {

                    // Condicional caso o chip nao esteja cadastrado, retorna -1
                    if(res.data === -1) {

                        // Seta mensagem no span de mensagem
                        $('#chip-message').text('Chip nao cadastrado na base!');
                        return;
                    }
                    // Condicional caso o chip nao esteja cadastrado, retorna -1
                    if(res.data === -2) {

                        // Seta mensagem no span de mensagem
                        $('#chip-message').text('Chip já atrelado a um Kit!');
                        return;
                    }

                    // Seta mensagem no span de mensagem
                    $('#chip-message').text('');

                    // Adiciona a loja Vuex os valores do chip encontrado pela busca
                    this.$store.commit('setChip', res.data[0]);

                    // Seta o foco para o input do numero de serie
                    $('#equip_num').focus();
                    
                });
               
                return false;
            },
            buscaEquipamento: function(evento){
                evento.preventDefault();

                // Semelhante a função acima, buscando um equipamento na base
                $('#equip-message').text('Buscando equipamento na base...');

                axios.get(this.url + 'equip/' +evento.target.value).then(res => {
                    if(res.data === -1) {
                        $('#equip-message').text('Equipamento nao cadastrado na base!');
                        return;
                    }

                    // Condicional caso o chip nao esteja cadastrado, retorna -1
                    if(res.data === -2) {

                        // Seta mensagem no span de mensagem
                        $('#equip-message').text('Equip já atrelado a um Kit!');
                        return;
                    }
                    $('#equip-message').text('Equipamento encontrado com sucesso!');

                    this.$store.commit('setEquip', res.data[0]);

                    $('#equip-message').text('');

                    
                    
                });
               
                return false;
            },
            cadastrarKit: function(){
                let data = {
                    "id_chip": this.$store.state.chip.id,
                    "id_equip": this.$store.state.equip.id
                };

                axios.post(this.urlCadastro, data).then(res => {
                    this.$store.commit('setProdutos', res.data);
                });
            }
            
           
        },
         computed: {
            defineMethod: function(){
                if(this.method.toLowerCase() == "post" || this.method.toLowerCase() == "get"){
                   return this.method.toLowerCase();
                }
                if(this.method.toLowerCase() == "put"){
                    this.alterMethod = "put";
                }
                if(this.method.toLowerCase() == "delete"){
                    this.alterMethod = "delete";
                }

                return "post";
            },
            list: function(){
                this.chipsLote = this.$store.state.lote_chips;
                return this.chipsLote;
            }
        }
        
    }
</script>

<style scoped>
.table-wrapper-scroll-y {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
</style>