<template>
    <div class="card pt-2">
        <div class="container">
            <form id="form_usuario" v-bind:token="token" method="post">
                <input v-if="alterMethod" type="hidden" name="_method" value="PUT">
                <input v-if="token" type="hidden" name="_token" v-bind:value="token">

                <div v-if="$store.state.role.role" class="form-row">
                    <div class="form-group col-md-auto">
                        <label for="nova_perm">Nova Permissão</label>
                        <input class="form-control" type="text" id="nova_perm" name="nova_perm"> 
                    </div>
                    <div class="form-group col-md-auto pt-2">
                        <label for=""></label>
                        <a @click="novaPerm($event)" class="btn btn-success mt-4">+</a>
                    </div>
                </div>
                <div v-if="$store.state.role.role" class="form-row">
                    <div class="form-group col-md-auto">
                        Permissões Disponíveis:
                    </div>
                </div>
                <div v-if="$store.state.perms" class="form-row">
                    <div v-bind:key="perm.id" v-for="perm in $store.state.perms" class="form-group col-md-auto tag-perm mr-3">
                         {{perm.name}}<span @click="adicionaPerm(perm)" id='fechar' class='adiciona'>+</span>
                    </div>
                   
                </div>
                <div  v-if="$store.state.role.role" class="form-row ">
                    <div class="form-group col-md-auto">
                        Permissões atribuidas a função selecionada:
                    </div>
                </div>
                <div v-if="$store.state.role.role" class="form-row">
                    <div v-bind:key="perm.id" v-for="perm in $store.state.role.permissoes" class="form-group col-md-auto tag-perm mr-3">
                         {{perm.name}}<span @click="retiraPerm(perm)" id='fechar' class='fecha'>x</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</template>

<script>
    export default {
        props: ['urlUser','token', 'method', 'roles', 'rolesUsuario', 'urlRoles'],
        data: function(){
            return {
                alterMethod: "",
            }
        },
        methods: {
            retiraPerm: function(perm){
                // Confirmacao se o usuario deseja executar a acao
                let confirma = confirm('Deseja realmente retirar a permissao da função?');

                // Caso false nao executa a funcao
                if(!confirma) return;

                // Perms da função selecionada que estao armazenadas na loja do Vuex
                let perms = this.$store.state.role.permissoes;

                // Itera sobre as perms para retirar a role desejada
                var filtrado = perms.filter(function(value, index, arr){
                    return value !== perm;
                });

                // Cria o array de dados a ser passado na requisicao PUT
                let data = {
                    "role" : this.$store.state.role.role,
                    "permissoes" : filtrado
                };

                 // Executa a ação de update de usuario
                //axios.put(this.urlUser + '/' + this.$store.state.obj.id, data);

                // Retorna a loja atualizada
                this.$store.commit("setRole", data);
            },
            adicionaPerm: function(perm){

                // Permissões da Função selecionada que estao armazenadas na loja do Vuex
                let perms = this.$store.state.role.permissoes;

                // Variavel de Controle  
                let exists = false;

                // Verifica se a função já possui 
                perms.forEach(function(item){
                    if(item.name === perm.name) exists = true;
                });

                // Se nao conter adiciona ao array de perms
                if(!exists) perms.push(perm);
                
                // Cria o array de dados a ser passado na requisicao PUT
                let data = {
                    "role" : this.$store.state.role.role,
                    "permissoes" : perms
                };

                // Executa a ação de update de usuario
                //axios.put(this.urlUser + '/' + this.$store.state.obj.id, data);

                // Seta na loja as perms da funcao que esta sendo editada
                this.$store.commit("setRole", data);
                
                
            },
            novaPerm: function(e){
                e.preventDefault();

                // Busca na loja vuex as permissoes disponíveis
                let permissoesLoja = this.$store.state.perms;

                // Variavel de Controle  
                let exists = false;

                // Captura o nome da nova permissão
                let novaPerm = $('#nova_perm').val();

                // Verifica se a permissao ja existe
                permissoesLoja.forEach(function(item){
                    if(item.name === novaPerm) exists = true;

                });


                // Vai no Backend e adiciona e retorna a nova permissao

                // Se nao conter adiciona ao array de perms
                //if(!exists) permissoesLoja.push();
                if(!exists) console.log('Adding: ', novaPerm);


                // Seta na loja as perms da funcao que esta sendo editada
                this.$store.commit("setPerms", permissoesLoja);

                return false;
            }
        },
         computed: {
            defineMethod: function(){
                if(this.method.toLowerCase() == "post" || this.method.toLowerCase() == "get"){
                   return this.method.toLowerCase();
                }
                if(this.method.toLowerCase() == "put"){
                    this.alterMethod = "put";
                }
                if(this.method.toLowerCase() == "delete"){
                    this.alterMethod = "delete";
                }

                return "post";
            }
        }
    }
</script>

<style scoped>
    .tag-perm{
        border: solid 0.5px;
        border-radius: 5px;
        padding: 4px;
        background-color: rgb(98, 218, 182);
        color: white;
        text-align: center;
    }
    #fechar {
        height: 25px;
        width: 25px;
        position:absolute;
        top: -15px;
        left: 90%;
        display:inline-block;
        border: solid 2px;
        color: white;
        border-radius: 50%;
        
    }
    .adiciona{
        background:green;
    }
    .fecha{
        background:red;
    }
</style>