    <template>
    <div>  
        <input class="form-control" id="filtro" type="search" v-model="filter" placeholder="Procurar...">
        <p>Buscando por: <strong>{{ this.filter }}</strong></p>
        <br>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>#</th>
                    <th>Nome da Função</th>
                    <th>Guarda</th>
                    <th>Data de Inclusão</th>
                    <th>Data de Edição</th>
                </tr>
            </thead>
            <tbody id="tabela">
                <tr v-bind:key="role.id" v-for="role in list">
                    <td id="acoes-chip">
                        <a @click="carregaRoleForm(role)"><i class="fas fa-user-edit"></i></a>
                        <a @click="deletaRegistro(role.id)"><i class="fas fa-trash-alt"></i></a>
                    </td> 
                    <td v-bind:key="prop.id" v-for="prop in role">{{prop}}</td>
                </tr>
                <tr v-if="list.length === 0">
                    Nenhum registro encontrado pela busca.
                </tr>
             
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: ['itens', 'url', 'token'],
        data: function(){
            return {
                filter: '',
                rolesLoja: this.itens.data
            }
        },
        methods: {
            filtraTabela: function(){
                console.log('Falta Implementar');
            },
            carregaRoleForm: function(role){
                
               
                // Busca no backend a role selecionada e suas permissoes
                // Bem como todas as permissoes cadastradas
                axios.get(this.url + '/' + role.id).then(res => {

                    // Cria um objeto com a role selecionada e suas permissoes
                    let roleSelecionado = {
                        "role": res.data.role,
                        "permissoes": res.data.rolePermissions,
                    };

                    // Adiciona na loja a role selecionada
                    this.$store.commit('setRole', roleSelecionado);

                    // Adiciona na loja as permissoes cadastradas no sistema
                    this.$store.commit('setPerms', res.data.permissoes);

                });

            },
            deletaRegistro: function(data){
                let result = confirm('Deseja realmente excluir o produto ('+data+')?');
                if(result){
                    axios.delete(this.url + '/' + data).then(res => {
                        this.$store.commit("setRoles", res.data);
                        this.$store.commit("setProduto", {});
                    });
                }
                /**/
            }
            
        },
        computed: {
            list: function(){
                /* Ordenação de forma crescente, pode ordenar a partir da coluna, para decrescente inverter valores
                this.itens.sort(function(a,b){
                    if(a[0] > b[0]) return 1;
                    if(a[0] < b[0]) return -1;
                    return 0;
                });
                */


               
                if(Object.keys(this.$store.state.roles).length === 0) {
                    this.$store.commit('setRoles', this.itens.data);
                    this.rolesLoja = this.$store.state.roles;
                }
                
                if(this.filter){
                    return this.rolesLoja.filter(res => {
                        res = Object.values(res);
                        for(let k=0; k<res.length; k++){
                            if((res[k] + "").toLowerCase().indexOf(this.filter.toLowerCase()) >= 0){
                                return true;
                            }
                        }
                        return false;
                    });
                }

                
                
  
                return this.rolesLoja;
                
            }
        }
    }
</script>

<style scoped>

</style>