<template>
    <div class="pt-4">
        <div class="panel-heading"><h2>{{ nome }}</h2></div>

        <div class="panel-body overflow-auto">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['nome']
    }
</script>

<style scoped>

</style>