<template>
    <div>
       <form id="form_produto" v-bind:action="url" v-bind:token="token" method="post">
            <input v-if="alterMethod" type="hidden" name="_method" v-bind:value="alterMethod">
            <input v-if="token" type="hidden" name="_token" v-bind:value="token">
            <div class="form-row justify-content-center pt-2">
                <div class="col-md-auto">
                    <img :src="caminhoImagem" alt="Imagem do Produto">
                    <input type="hidden" name="pro_img" id="pro_img" v-model="caminhoImagem" >
                </div>
            </div>
            <div class="form-row pt-2">
                <div class="form-group col-md-12">
                    <label for="pro_dsc">Descrição</label>
                    <input type="text" class="form-control" name="pro_dsc" id="pro_dsc" v-model="$store.state.produto.pro_dsc" required>
                    
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="pro_cod">Código</label>
                    <input type="text" class="form-control" name="pro_cod" id="pro_cod" v-model="$store.state.produto.pro_cod" required>
                    
                </div>
                 <div class="form-group col-md-6">
                    <label for="pro_val_ven">Preço Unitário da Venda</label>
                    <input class="form-control" type="number" name="pro_val_ven" v-model="$store.state.produto.pro_val_ven" id="equip_valor" min="0" step="0.01" required>
                </div>
               
            </div>
            <div class="form-row">
               <div class="form-group col-md-4">
                    <label for="pro_uni">Unidade</label>
                    <select class="form-control" name="pro_uni" id="pro_uni" v-model="$store.state.produto.pro_uni" required>
                        <option value="UN">Unidade(UN)</option>
                        <option value="BX">Box(BX)</option>
                        <option value="POR">Porção(POR)</option>
                        <option value="R$">Real(R$)</option>
                    </select>
                    
                </div>
                <div class="form-group col-md-4">
                    <label for="pro_tipo">Tipo</label>
                    <select class="form-control" name="pro_tipo" id="pro_tipo" v-model="$store.state.produto.pro_tipo" required>
                        <option value="equip">Equipamento</option>
                        <option value="chip">Chip</option>
                        <option value="kit">Kit</option>
                        <option value="ace">Acessório</option>
                    </select>
                    
                </div>
                <div class="form-group col-md-4">
                    <label for="pro_min">Qtd Mínima</label>
                    <input class="form-control" type="number" min="0" id="pro_min" name="pro_min"  v-model="$store.state.produto.pro_min" required>
                </div>
            </div>
            <div class="form-row">
                <div v-if="!$store.state.produto.id" class="form-group col-md-auto">
                    <button  form="form_produto" type="submit" class="btn btn-success">Novo</button>
                </div>
                <div class="form-group col-md-auto">
                    <button v-if="$store.state.produto.id" @click="atualizaRegistro($store.state.produto)" type="button" class="btn btn-primary">Atualizar</button>
                </div>
                <div class="form-group col-md-auto">
                    <button v-if="$store.state.produto.id" @click="limpaFormulario()" type="button" class="btn btn-danger">Cancelar</button>
                </div>
                
            </div>
            
            
        </form>
    </div>
</template>

<script>
    export default {
        props: ['url','urlNovo','token', 'action', 'method', 'caminhoImagem'],
        data: function(){
            return {
                alterMethod: "",
             
            }
        },
        methods: {
            atualizaRegistro: function(data){
                axios.put(this.url + '/' + data.id, data).then(res => { 
                    this.$store.commit("setProdutos", res.data);
                    this.$store.commit("setProduto", {});
                });
                
            },
            limpaFormulario: function(){
                this.$store.commit('setProduto', {});
            },
           
        },
         computed: {
            defineMethod: function(){
                if(this.method.toLowerCase() == "post" || this.method.toLowerCase() == "get"){
                   return this.method.toLowerCase();
                }
                if(this.method.toLowerCase() == "put"){
                    this.alterMethod = "put";
                }
                if(this.method.toLowerCase() == "delete"){
                    this.alterMethod = "delete";
                }

                return "post";
            }
        }
    }
</script>

<style scoped>

</style>