        <template>
    <div>  
        <input class="form-control" id="filtro" type="search" v-model="filter" placeholder="Procurar...">
        <p>Buscando por: <strong>{{ this.filter }}</strong></p>
        <br>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>#</th>
                    <th>Descrição</th>
                    <th>Código</th>
                    <th>Valor Unitário de Venda</th>
                    <th>Unidade</th>
                    <th>Data de Inclusão</th>
                    <th>Data de Atualização</th>
                    <th>Tipo Produto</th>
                    <th>Quantidade Mínima</th>
                    <th>Quantidade em Estoque</th>
                    
                </tr>
            </thead>
            <tbody id="tabela">
                <tr v-bind:key="equipamento.id" @dblclick="carregaEquipamentoForm(equipamento)" v-for="equipamento in list">
                    <td id="acoes-chip">
                        <a @click="carregaEquipamentoForm(equipamento)"><i class="fas fa-user-edit"></i></a>
                        <a @click="deletaRegistro(equipamento.id)"><i class="fas fa-trash-alt"></i></a>
                    </td> 
                    <td v-bind:key="prop.id" v-for="prop in equipamento">{{prop}}</td>
                </tr>
                <tr v-if="list.length === 0">
                    Nenhum registro encontrado pela busca.
                </tr>
             
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: ['itens', 'url', 'token'],
        data: function(){
            return {
                filter: '',
                produtosLoja: this.itens
            }
        },
        methods: {
            filtraTabela: function(){
                console.log('Falta Implementar');
            },
            carregaEquipamentoForm: function(equipamento){
                //console.log(equipamento);
                var infoForm = {"url": this.url, "method":"put", "token": this.token};
                //console.log(infoForm);
                this.$store.commit('setProduto', equipamento);
                this.$store.commit('setInfoForm', infoForm);
            },
            deletaRegistro: function(data){
                let result = confirm('Deseja realmente excluir o produto ('+data+')?');
                if(result){
                    axios.delete(this.url + '/' + data).then(res => {
                        this.$store.commit("setProdutos", res.data);
                        this.$store.commit("setProduto", {});
                    });
                }
                /**/
            }
            
        },
        computed: {
            list: function(){

                /* Ordenação de forma crescente, pode ordenar a partir da coluna, para decrescente inverter valores
                this.itens.sort(function(a,b){
                    if(a[0] > b[0]) return 1;
                    if(a[0] < b[0]) return -1;
                    return 0;
                });
                */

                

                this.produtosLoja = this.$store.state.produtos;

               
                if(Object.keys(this.$store.state.produtos).length === 0) {
                    this.$store.commit('setProdutos', this.itens);
                    this.produtosLoja = this.$store.state.produtos;
                }
                
                if(this.filter){
                    return this.produtosLoja.filter(res => {
                        res = Object.values(res);
                        for(let k=0; k<res.length; k++){
                            if((res[k] + "").toLowerCase().indexOf(this.filter.toLowerCase()) >= 0){
                                return true;
                            }
                        }
                        return false;
                    });
                }

                
                
  
                return this.produtosLoja;
                
            }
        }
    }
</script>

<style scoped>

</style>