<template>
    <div class="row ml-3">
        <div class="col-md-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">   
                    <li class="breadcrumb-item" v-bind:key="item.id" v-for="item in list"><a v-if="item.url" v-bind:class="defineClass" v-bind:href="item.url">{{ item.titulo }}</a><span v-if="!item.url">{{item.titulo}}</span></li>
                </ol>   
            </nav>
        </div>
        
    </div>
</template>

<script>
    export default {
        props: ['list'],
        computed: {
            defineClass: function(){
                if(this.url){
                    return "active";
                }
                return "";
            }
        }
    }
</script>

<style scoped>

</style>