<template>
    <div>
       <form id="form_equipamento" v-bind:action="url" v-bind:token="token" method="post">
            <input type="hidden" name="id" id="id" v-model="$store.state.produto.id" value="">
            <input v-if="alterMethod" type="hidden" name="_method" v-bind:value="alterMethod">
            <input v-if="token" type="hidden" name="_token" v-bind:value="token">
            <div class="form-row pt-2">
                <div class="form-group col-md-6">
                    <label for="equip_imei">IMEI</label>
                    <input type="text" class="form-control" name="equip_imei" id="equip_imei" v-model="$store.state.produto.equip_imei" required>
                    
                </div>
                <div class="form-group col-md-6">
                    <label for="equip_num">Nº Serie</label>
                    <input type="text" class="form-control" name="equip_num" id="equip_num" v-model="$store.state.produto.equip_num" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="equip_mod">Modelo</label>
                    <select class="form-control" name="equip_mod" id="equip_mod" v-model="$store.state.produto.equip_mod" required>
                        <option value="1">CRX1</option>
                        <option value="2">CRX3_NEW</option>
                        <option value="3">GADGETS</option>
                        <option value="4">ST350</option>
                    </select>
                    
                </div>
                <div class="col-md-6">
                    <label for="equip_data_inc">Data de Inclusão</label>
                    <input type="date" class="form-control" name="equip_data_inc" v-model="$store.state.produto.equip_data_inc" id="equip_data_inc" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="equip_valor">Valor</label>
                    <input class="form-control" type="number" name="equip_valor" v-model="$store.state.produto.equip_valor" id="equip_valor" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="equip_data_comp">Data de Compra</label>
                    <input class="form-control" type="date" name="equip_data_comp" v-model="$store.state.produto.equip_data_comp" id="equip_data_comp" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="equip_for">Fornecedor</label>
                    <input type="text" class="form-control" name="equip_for"  v-model="$store.state.produto.equip_for" id="equip_for" required>
                </div>
                
            </div>
            <div class="form-row">
                <div v-if="!$store.state.produto.id" class="form-group col-md-auto">
                    <button  form="form_equipamento" type="submit" class="btn btn-success">Novo</button>
                </div>
                <div class="form-group col-md-auto">
                    <button v-if="$store.state.produto.id" @click="atualizaRegistro($store.state.produto)" type="button" class="btn btn-primary">Atualizar</button>
                </div>
                <div class="form-group col-md-auto">
                    <button v-if="$store.state.produto.id" @click="limpaFormulario()" type="button" class="btn btn-danger">Cancelar</button>
                </div>
                
            </div>
            
            
        </form>
    </div>
</template>

<script>
    export default {
        props: ['url','urlNovo','token', 'action', 'method'],
        data: function(){
            return {
                alterMethod: "",
             
            }
        },
        methods: {
            atualizaRegistro: function(data){
                axios.put(this.url + '/' + data.id, data).then(res => { 
                    this.$store.commit("setProdutos", res.data);
                    this.$store.commit("setProduto", {});
                });
                
            },
            limpaFormulario: function(){
                this.$store.commit('setProduto', {});
            },
           
        },
         computed: {
            defineMethod: function(){
                if(this.method.toLowerCase() == "post" || this.method.toLowerCase() == "get"){
                   return this.method.toLowerCase();
                }
                if(this.method.toLowerCase() == "put"){
                    this.alterMethod = "put";
                }
                if(this.method.toLowerCase() == "delete"){
                    this.alterMethod = "delete";
                }

                return "post";
            }
        }
    }
</script>

<style scoped>

</style>