<template>
    <div class="modal fade" id="exampleModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Movimento em Lote de Produtos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form v-bind:action="url" v-bind:token="token" method="post">
                        <input type="hidden" name="id" id="id" v-model="$store.state.chip.id" value="">
                        <input v-if="alterMethod" type="hidden" name="_method" v-bind:value="alterMethod">
                        <input v-if="token" type="hidden" name="_token" v-bind:value="token">
                        <div class="form-row pt-2">
                            <div  class="form-group col-md-4">
                                <label for="select-produto">Produto</label>
                                <select id="select-produto" class="form-control" @change="onChange($event)" required v-model="$store.state.lote_info.produto">
                                    <option value="" disabled selected>Selecione o produto</option>
                                    <option :key="prod.id" :value="prod.id + '/' + prod.pro_tipo" v-for="prod in produtos">{{prod.pro_dsc}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="mov_sit">Situação</label>
                                <select class="form-control" name="mov_sit" id="mov_sit" v-model="$store.state.lote_info.mov_sit">
                                    <option value="" disabled selected>Selecione a situação</option>
                                    <option value="a">Ativo</option>
                                    <option value="i">Inativo</option>
                                    <option value="b">Bloqueado</option>
                                    <option value="c">Cancelado</option>
                                </select>
                                
                            </div>
                             <div class="form-group col-md-4">
                                <label for="mov_tipo">Tipo de Movimento</label>
                                <select class="form-control" name="mov_tipo" id="mov_tipo" v-model="$store.state.lote_info.mov_tipo">
                                    <option value="" disabled selected>Selecione o tipo</option>
                                    <option value="entnov">Entrada (Novo)</option>
                                    <option value="entdev">Entrada (Devolução)</option>
                                    <option value="saiven">Saída (Venda)</option>
                                    <option value="saicom">Saída (Comodato)</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4" v-if="$store.state.lote_info.pro_tipo == 'ace'">
                                <label for="mov_numitens">Número de Itens</label>
                                <input type="number" class="form-control" min="0" name="mov_numitens" id="mov_numitens" v-model="$store.state.lote_info.mov_numitens" required>
                            </div>      
                            <div class="form-group col-md-3">
                                <label for="mov_val">Valor de Venda R$</label>
                                <input class="form-control" type="number" name="mov_val" id="mov_val" min="0" v-model="$store.state.lote_info.mov_val" step="0.01" required>
                            </div>
                             <div class="form-group col-md-4">
                                <label for="mov_for">Fornecedor</label>
                                <select class="form-control" name="mov_for" id="mov_for" v-model="$store.state.lote_info.mov_for">
                                    <option v-bind:key="fornecedor.id"  v-for="fornecedor in fornecedores" :value="fornecedor.id">{{fornecedor.for_razsoc}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-row" 
                            v-if="$store.state.lote_info.pro_tipo == 'chip' && 
                            $store.state.lote_info.mov_tipo == 'entnov'">
                            <div class="form-group col-md-3">
                                <label for="mov_mb">MB</label>
                                <input class="form-control" type="number" name="mov_mb" id="mov_mb" min="0" v-model="$store.state.lote_info.mov_mb" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="mov_mens">Valor Mensal (R$)</label>
                                <input class="form-control" type="number" name="mov_mens" id="mov_mens" v-model="$store.state.lote_info.mov_mens" step="0.01" required>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="mov_diavenc">Vencimento</label>
                                <input class="form-control" type="number" name="mov_diavenc" id="mov_diavenc" v-model="$store.state.lote_info.mov_diavenc" required>
                            </div>
                        </div>
                        <div class="form-row table-wrapper-scroll-y" v-if="!($store.state.lote_info.pro_tipo == 'ace')">
                            <table class="table table-striped table-responsive-xl">
                                <thead >
                                    <tr>
                                    <th scope="col">ID Produto</th>
                                    <th scope="col">Situação</th>
                                    <th scope="col">Fornecedor</th>
                                    <th scope="col">Valor de Venda</th>
                                    <th scope="col">Entrada</th>
                                    <th scope="col" v-if="$store.state.lote_info.pro_tipo == 'kit' && 
                                        ($store.state.lote_info.mov_tipo == 'saiven' || 
                                        $store.state.lote_info.mov_tipo == 'entdev')" >Nº Kit</th>
                                    <th scope="col" v-if="($store.state.lote_info.pro_tipo == 'equip'
                                        || ($store.state.lote_info.pro_tipo == 'kit' ) && 
                                        $store.state.lote_info.mov_tipo == 'entnov')" >Nº Serie</th>
                                    <th scope="col" v-if="($store.state.lote_info.pro_tipo == 'chip'
                                        || ($store.state.lote_info.pro_tipo == 'kit' ) && 
                                        $store.state.lote_info.mov_tipo == 'entnov') 
                                        " >ICCID</th>
                                    
                                    <th scope="col" v-if="$store.state.lote_info.pro_tipo == 'chip' && $store.state.lote_info.mov_tipo == 'entnov'" >MB</th>
                                    <th scope="col" v-if="$store.state.lote_info.pro_tipo == 'chip' && $store.state.lote_info.mov_tipo == 'entnov'" >Mensalidade (R$)</th>
                                    <th scope="col" v-if="$store.state.lote_info.pro_tipo == 'chip' && $store.state.lote_info.mov_tipo == 'entnov'" >Dia Vencimento</th>
                                    <th scope="col" v-if="$store.state.lote_info.pro_tipo == 'chip' && $store.state.lote_info.mov_tipo == 'entnov'" >Número</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  v-if="verificaPro()">
                                        <td>{{$store.state.lote_info.mov_pro}}</td>
                                        <td>{{$store.state.lote_info.mov_sit}}</td>
                                        <td>{{$store.state.lote_info.mov_for}}</td>
                                        <td>R$ {{$store.state.lote_info.mov_val}}</td>
                                        <td>{{$store.state.lote_info.mov_tipo}}</td>
                                        <td v-if="$store.state.lote_info.pro_tipo == 'kit'" 
                                            @keydown.enter="incluiProduto($event)" 
                                            contenteditable="true"></td>
                                        <td id="sn_kit" 
                                            v-if="$store.state.lote_info.pro_tipo == 'kit'" 
                                            @keydown.enter="setaFoco()" 
                                            contenteditable="true"></td>
                                        <td v-if="$store.state.lote_info.pro_tipo == 'equip'" 
                                            @keydown.enter="incluiProduto($event)" 
                                            contenteditable="true"></td>
                                        <td id="iccid_kit" 
                                            v-if="$store.state.lote_info.pro_tipo == 'kit' || 
                                            $store.state.lote_info.pro_tipo == 'chip'" 
                                            @keydown.enter="incluiProduto($event)" 
                                            contenteditable="true"></td>
                                        <td>{{$store.state.lote_info.mov_mb}}</td>
                                        <td>{{$store.state.lote_info.mov_mens}}</td>
                                        <td>{{$store.state.lote_info.mov_diavenc}}</td>
                                        <td v-if="$store.state.lote_info.pro_tipo == 'kit' || $store.state.lote_info.pro_tipo == 'chip'" >0</td>
                                    </tr>
                                    <tr :key="chip.id" v-for="chip in list">
                                        <td :key="prop.id" v-for="prop in chip">{{prop}}</td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="limpaLote()" data-dismiss="modal">Cancelar</button>
                    <button v-if="$store.state.lote_produtos.length > 0 || $store.state.lote_info.pro_tipo == 'ace'" @click="cadastroLote()" type="button" class="btn btn-primary">Processar Dados</button>
                </div>
                </div>
            </div>
        </div>
        
</template>

<script>
    export default {
        props: ['url', 'token', 'produtos', 'fornecedores'],
        data: function(){
            return {
                alterMethod: "",
                produtosLote: [],
            }
            
        },
        methods: {
            
            incluiProduto: function(evento){
                let produto = {};
                if(this.$store.state.lote_info.pro_tipo == 'equip')
                {
                    // Cria o objeto do produto lido pelo scanner
                    produto = {
                        "mov_pro": this.$store.state.lote_info.mov_pro,
                        "mov_sit": this.$store.state.lote_info.mov_sit,
                        "mov_for": this.$store.state.lote_info.mov_for,
                        "mov_val":this.$store.state.lote_info.mov_val,
                        "mov_tipo":this.$store.state.lote_info.mov_tipo,
                        "mov_sn":evento.target.innerText,
                        
                    };

                }
                if(this.$store.state.lote_info.pro_tipo == 'chip')
                {
                    // Cria o objeto do produto lido pelo scanner
                    produto = {
                        "mov_pro": this.$store.state.lote_info.mov_pro,
                        "mov_sit": this.$store.state.lote_info.mov_sit,
                        "mov_for": this.$store.state.lote_info.mov_for,
                        "mov_val":this.$store.state.lote_info.mov_val,
                        "mov_tipo":this.$store.state.lote_info.mov_tipo,
                        "mov_iccid":evento.target.innerText,
                        "mov_mb": this.$store.state.lote_info.mov_mb,
                        "mov_mens": this.$store.state.lote_info.mov_mens,
                        "mov_diavenc": this.$store.state.lote_info.mov_diavenc,
                        "mov_numchip": "0",
                    };

                }
                if(this.$store.state.lote_info.pro_tipo == 'kit')
                {

                    // Pega o texto do número de série
                    let texto = $('#sn_kit').text();
                    console.log(texto);
                    // Cria o objeto do produto lido pelo scanner
                    produto = {
                        "mov_pro": this.$store.state.lote_info.mov_pro,
                        "mov_sit": this.$store.state.lote_info.mov_sit,
                        "mov_for": this.$store.state.lote_info.mov_for,
                        "mov_val":this.$store.state.lote_info.mov_val,
                        "mov_tipo":this.$store.state.lote_info.mov_tipo,
                        "mov_sn": texto,
                        "mov_iccid":evento.target.innerText,
                        "mov_numchip": "0",
                        
                    };

                    $('#sn_kit').focus();
                    $('#sn_kit').empty();

                }

                console.log(produto);
                
                // Adiciona o chip ao array de chips
                this.$store.commit('setProdutosLote', produto);

                // Reseta o valor do td editable onde o ICCID foi inserido
                evento.target.innerHTML = "";
               
              
            },
            cadastroLote: function(){
                
                console.log('Produtos: ', this.$store.state.lote_produtos);
                
                // Verifica se o produto é um acessorio para replicar em array
                if(this.$store.state.lote_info.pro_tipo == 'ace'){
                    let produto = {
                        "mov_pro": this.$store.state.lote_info.mov_pro,
                        "mov_sit": this.$store.state.lote_info.mov_sit,
                        "mov_for": this.$store.state.lote_info.mov_for,
                        "mov_val":this.$store.state.lote_info.mov_val,
                        "mov_tipo":this.$store.state.lote_info.mov_tipo,
                        "mov_numitens": this.$store.state.lote_info.mov_numitens,
                        "mov_ori": "axios",
                    };

                    axios.post(this.url, produto).then(res => {
                        window.location.href=res.data;
                    });

                    return;
                }

                // Chamada para cadastro dos chips em lote
                axios.post(this.url, this.$store.state.lote_produtos).then(res => {
                    window.location.href=res.data;
                });
            },
            onChange: function(evento){

                let value = evento.target.value;
                this.$store.commit('setInfoLote', {produto: value});
                this.$store.commit('setProdutosLimpo', []);

                this.$store.state.lote_info.mov_pro = value.split('/')[0];
                this.$store.state.lote_info.pro_tipo = value.split('/')[1];
            },
            setaFoco: function(){
                $('#iccid_kit').focus();
            },
            limpaLote: function(){
                this.$store.commit('setInfoLote', {});
                this.$store.commit('setProdutosLimpo', []);
            },
            verificaPro: function(){
                if(this.$store.state.lote_info.mov_tipo == 'entnov' && this.$store.state.lote_info.pro_tipo == 'chip'){
                    return this.$store.state.lote_info.mov_pro 
                        && this.$store.state.lote_info.mov_sit 
                        && this.$store.state.lote_info.mov_tipo
                        && this.$store.state.lote_info.mov_val
                        && this.$store.state.lote_info.mov_for
                        && this.$store.state.lote_info.mov_mb
                        && this.$store.state.lote_info.mov_mens
                        && this.$store.state.lote_info.mov_diavenc;

                }
                return this.$store.state.lote_info.mov_pro 
                        && this.$store.state.lote_info.mov_sit 
                        && this.$store.state.lote_info.mov_tipo
                        && this.$store.state.lote_info.mov_val
                        && this.$store.state.lote_info.mov_for;
            }
        },
        computed: {
            
            list: function(){
                this.produtosLote = this.$store.state.lote_produtos;
                return this.produtosLote;
            },
        }
    }
</script>

<style scoped>
.table-wrapper-scroll-y {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
</style>