<template>

    <div> 
       <form  id="form_movimento" v-bind:action="url" v-bind:token="token" method="post">
            <input type="hidden" name="mov_pro" id="mov_pro" v-model="$store.state.produto.id">
            <input v-if="alterMethod" type="hidden" name="_method" v-bind:value="alterMethod">
            <input v-if="token" type="hidden" name="_token" v-bind:value="token">
            <div class="form-row pt-2">
                <div  class="form-group col-md-6">
                    <label for="select-produto">Produto</label>
                    <select id="select-produto" class="form-control" @change="onChange($event)" required>
                        <option value="" disabled selected>Selecione o produto</option>
                        <option :key="prod.id" :value="prod.id + '/' + prod.pro_tipo + '/' + prod.pro_val_ven" v-for="prod in produtos">{{prod.pro_dsc}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="mov_tipo">Tipo de Movimento</label>
                    <select class="form-control" name="mov_tipo" id="mov_tipo" v-model="$store.state.lote_info.mov_tipo">
                        <option value="" disabled selected>Selecione o tipo</option>
                        <option value="entnov">Entrada (Novo)</option>
                        <option value="entdev">Entrada (Devolução)</option>
                        <option value="saiven">Saída (Venda)</option>
                        <option value="saicom">Saída (Comodato)</option>
                    </select>
                </div>
                
            </div>
            <div id="div-alerta" class="form-row" hidden>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span id="produto-message"></span> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6" 
                    v-if="$store.state.produto.tipo == 'kit' && 
                    ($store.state.lote_info.mov_tipo == 'saiven' || 
                    $store.state.lote_info.mov_tipo == 'saicom')">
                    <label for="mov_numkit">Número do Kit</label>
                    <input class="form-control" type="text" name="mov_numkit" id="mov_numkit"  required>
                </div>
                <div class="form-group col-md-6" 
                    v-if="$store.state.produto.tipo == 'equip' || 
                    ($store.state.produto.tipo == 'kit' && 
                    ($store.state.lote_info.mov_tipo == 'entnov' || 
                    $store.state.lote_info.mov_tipo == 'entdev'))">
                    <label for="mov_sn">Número de Série</label>
                    <input class="form-control" type="text" name="mov_sn" id="mov_sn"  required>
                </div>
                 <div class="form-group col-md-6" 
                    v-if="$store.state.produto.tipo == 'chip' || 
                    ($store.state.produto.tipo == 'kit' && 
                    ($store.state.lote_info.mov_tipo == 'entnov' || 
                    $store.state.lote_info.mov_tipo == 'entdev'))">
                    <label for="mov_iccid">ICCID</label>
                    <input class="form-control" type="text" name="mov_iccid" id="mov_iccid" v-model="$store.state.chip.chip_iccid" required>
                </div>
              
            </div>
            <div class="form-row"> 
                 <div class="form-group col-md-6" 
                    v-if="$store.state.produto.tipo == 'chip' && 
                    ($store.state.lote_info.mov_tipo == 'entnov' || 
                    $store.state.lote_info.mov_tipo == 'entdev') ">
                    <label for="mov_numchip">Número</label>
                    <input class="form-control" type="text" name="mov_numchip" id="mov_numchip" v-model="$store.state.chip.mov_numchip" required>
                </div>
                <div class="form-group col-md-6"
                    v-if="$store.state.produto.tipo == 'chip' && 
                    ($store.state.lote_info.mov_tipo == 'entnov' || 
                    $store.state.lote_info.mov_tipo == 'entdev')" >
                    <label for="mov_sit">Situação</label>
                    <select class="form-control" name="mov_sit" id="mov_sit" v-model="$store.state.chip.mov_sit" required>
                        <option value="" disabled>Selecione um status</option>
                        <option value="a">Ativo</option>
                        <option value="i">Inativo</option>
                        <option value="b">Bloqueado</option>
                        <option value="c">Cancelado</option>
                    </select>
                    
                </div>
               
            </div>
            
            <div class="form-row" 
                v-if="$store.state.produto.tipo == 'chip' && 
                ($store.state.lote_info.mov_tipo == 'entnov' || 
                $store.state.lote_info.mov_tipo == 'entdev')">
                <div class="form-group col-md-3">
                    <label for="mov_mb">MB</label>
                    <input class="form-control" type="number" name="mov_mb" id="mov_mb" min="0" v-model="$store.state.chip.mov_mb" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="mov_mens">Valor Mensal (R$)</label>
                    <input class="form-control"  type="number" name="mov_mens" id="mov_mens" v-model="$store.state.chip.chip_mens" step="0.01" required>
                </div>
                <div class="form-group col-md-5">
                    <label for="mov_diavenc">Vencimento</label>
                    <input class="form-control" type="number" name="mov_diavenc" id="mov_diavenc" v-model="$store.state.chip.chip_dia_venc" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4" v-if="$store.state.produto.tipo == 'ace'">
                    <label for="mov_numitens">Número de Itens</label>
                    <input type="number" class="form-control" min="0" name="mov_numitens" id="mov_numitens" v-model="$store.state.produto.mov_numitens" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="mov_val">Valor de Venda</label>
                    <input type="number" class="form-control" min="0" name="mov_val" id="mov_val" v-model="$store.state.produto.valor" step="0.01" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="mov_for">Fornecedor</label>
                    <select class="form-control" name="mov_for" id="mov_for">
                        <option v-bind:key="fornecedor.id"  v-for="fornecedor in fornecedores" :value="fornecedor.id">{{fornecedor.for_razsoc}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div v-if="!$store.state.chip.id" class="form-group col-md-auto">
                    <button  form="form_movimento" type="submit" class="btn btn-success">Processar</button>
                </div>
                 <div v-if="!$store.state.chip.id" class="form-group col-md-auto">
                    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Movimento em Lote
                    </button>
                </div>
                <div  class="form-group col-md-auto">
                    <button  v-if="$store.state.chip.id" @click="atualizaRegistro($store.state.chip)" type="button" class="btn btn-primary">Atualizar</button>
                </div>
                <div  class="form-group col-md-auto">
                    <button  v-if="$store.state.chip.id" @click="limpaFormulario()" type="button" class="btn btn-danger">Cancelar</button>
                </div>
               
                
            </div>
            
        </form>

        <chip-lote :url="this.url" :token="this.token" :produtos="this.produtos" :fornecedores="this.fornecedores"></chip-lote>
        
    </div>
</template>

<script>
    export default {
        props: ['url','urlNovo', 'urlBusca','token', 'action', 'method','produtos', 'old', 'fornecedores'],
        data: function(){
            return {
                alterMethod: "",
                chipsLote: [],
             
            }
        },
        methods: {
            atualizaRegistro: function(data){
                axios.put(this.url + '/' + data.id, data).then(res => {
                    this.$store.commit("setProdutos", res.data);
                    this.$store.commit("setChip", {});
                });
                
            },
            limpaFormulario: function(){
                this.$store.commit('setChip', {});
            },
            
            /*defineES: function(event, tipo){
                if(tipo == 'saida'){
                    $('#mov_numchip').prop('disabled', true);
                    $('#mov_mb').prop('disabled', true);
                    $('#mov_mens').prop('disabled', true);
                    $('#mov_diavenc').prop('disabled', true);
                }
                if(tipo == 'entrada'){
                    $('#mov_numchip').prop('disabled', false);
                    $('#mov_mb').prop('disabled', false);
                    $('#mov_mens').prop('disabled', false);
                    $('#mov_diavenc').prop('disabled', false);
                }
                
            },*/
            onChange: function(event){
                // Captura o valor do select
                let tipo = event.target.value;
                let props = tipo.split('/');
                //console.log(props[0]);

                let produto = {
                    id: props[0],
                    tipo: props[1],
                    valor: props[2],
                };

                this.$store.commit('setProduto', produto);

                

            },
           
        },
         computed: {
            defineMethod: function(){
                if(this.method.toLowerCase() == "post" || this.method.toLowerCase() == "get"){
                   return this.method.toLowerCase();
                }
                if(this.method.toLowerCase() == "put"){
                    this.alterMethod = "put";
                }
                if(this.method.toLowerCase() == "delete"){
                    this.alterMethod = "delete";
                }

                return "post";
            },
            list: function(){
                this.chipsLote = this.$store.state.lote_chips;
                return this.chipsLote;
            }
        }
        
    }
</script>

<style scoped>
.table-wrapper-scroll-y {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
</style>