<template>
    <div>  
        <input class="form-control" id="filtro" type="search" v-model="filter" placeholder="Procurar...">
        <p>Buscando por: <strong>{{ this.filter }}</strong></p>
        <br>
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Produto</th>
                    <th>Número Kit</th>
                    <th>Número de Série</th>
                    <th>ICCID</th>
                    <th>Número do Chip</th>
                    <th>Situação</th>
                    <th>Fornecedor</th>
                    <th>Observação</th>
                    <th>Novo</th>
                    <th>Entrada</th>
                    <th>Dados MB</th>
                    <th>Mensal R$</th>
                    <th>Dia do Vencimento</th>
                    <th>Valor Saída R$</th>
                    
                   
                </tr>
            </thead>
            <tbody id="tabela">
                <tr v-bind:class="(movimento.mov_tipo == 'entnov' || movimento.mov_tipo == 'entdev') ? classEntrada : classSaída" v-bind:key="movimento.id" v-for="movimento in list">
                    <td  v-for="prop in movimento">{{prop}}</td>
                </tr>
                <tr v-if="list.length === 0">
                    Nenhum registro encontrado pela busca.
                </tr>
             
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: ['itens', 'url', 'urlDelete','token'],
        data: function(){
            return {
                filter: '',
                classEntrada: 'bg-success',
                classSaída: 'bg-danger',
                movimentos: this.itens.data
            }
        },
        methods: {
            filtraTabela: function(){
                console.log('Falta Implementar');
            },
            
        },
        computed: {
            list: function(){

                /* Ordenação de forma crescente, pode ordenar a partir da coluna, para decrescente inverter valores
                this.itens.sort(function(a,b){
                    if(a[0] > b[0]) return 1;
                    if(a[0] < b[0]) return -1;
                    return 0;
                });
                */

               /*
                return this.movimentos;

                this.movimentos = this.$store.state.produtos;

               
                if(Object.keys(this.$store.state.produtos).length === 0) {
                    this.$store.commit('setProdutos', this.itens);
                    this.movimentos = this.$store.state.produtos;
                }*/
                
                if(this.filter){
                    return this.movimentos.filter(res => {
                        res = Object.values(res);
                        for(let k=0; k<res.length; k++){
                            if((res[k] + "").toLowerCase().indexOf(this.filter.toLowerCase()) >= 0){
                                return true;
                            }
                        }
                        return false;
                    });
                }

                
                
  
                return this.movimentos;
                
            }
        }
    }
</script>

<style scoped>

</style>